/* Form styles */
form {
  margin-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"],
button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

/* Login and Register Form styles */
.login-form,
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label,
.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input,
.register-form input,
.login-form button,
.register-form button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button,
.register-form button {
  background-color: #337ab7;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:disabled,
.register-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-form .error-message,
.register-form .error-message {
  color: red;
  margin-bottom: 10px;
}

.login-form .success-message,
.register-form .success-message {
  color: green;
  margin-bottom: 10px;
}

/* Home.css */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-price {
  margin-bottom: 10px;
}

.product-stock {
  margin-bottom: 10px;
}

.view-item-btn,
.add-to-cart-btn {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px;
}

.view-item-btn:hover,
.add-to-cart-btn:hover {
  background-color: #1356a7;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.account-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.account-heading {
  margin-bottom: 10px;
}

.cart-and-shipping {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cart-item {
  margin-bottom: 10px;
}

.quantity-control {
  margin-top: 10px;
}

.quantity-control button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.quantity-control button:hover {
  background-color: #0056b3;
}

.shipping-address {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.adminHomeHeader {
  text-align: center;
}

.admin-home-container {
  margin: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  margin-bottom: 5px;
}

.product-stock {
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
}

.view-btn,
.reserve-btn,
.remove-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.view-btn {
  background-color: #007bff;
  color: #fff;
}

.reserve-btn {
  background-color: #28a745;
  color: #fff;
}

.remove-btn {
  background-color: #dc3545;
  color: #fff;
}

.admin-navbar, .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  padding: 10px;
}

.nav-link, .login-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.logout-btn, .login-link {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.addProductButton{
  margin-left: 15px;
}

.add-product-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.customer-list {
  list-style: none;
  padding: 0;
}

.customer-list-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.customer-details {
  margin-left: 20px;
}

.customer-details p {
  margin: 5px 0;
}

.customer-link {
  text-decoration: none;
  color: #333;
}

.customer-link:hover {
  text-decoration: underline;
}

.allCustomerHeader {
  text-align: center;
}


.product-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-details-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-details-description {
  margin-bottom: 20px;
}

.product-details-price {
  font-weight: bold;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.account-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.account-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.customer-details {
  margin-bottom: 20px;
}

.cart-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.cart-item:last-child {
  border-bottom: none;
}

.quantity-control {
  margin-top: 10px;
}

.quantity-control button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.quantity-control button:hover {
  background-color: #0056b3;
}
